body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  font-family: 'VT323', monospace;
  background-color: #282c34; /* Set background color for the body */
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #282c34; /* Set background color for the container */
  padding: 20px;
  border-radius: 20px; /* Adjust the border radius for the container */
}

#game-board-container {
  position: relative;
  display: inline-block;
}

body,
.snake {
  background-color: #414141;
}

#game-board {
  position: relative;
  border-radius: 20px; /* Adjust the border radius for game board */
  display: grid;
  grid-template-columns: repeat(20, 20px);
  grid-template-rows: repeat(20, 20px);
  margin: 5px;
}

.game-border-1 {
  border: #353b48 solid 10px; /* Dark border color */
  border-radius: 30px;
  box-shadow: inset 0 0 0 10px #353b48; /* Dark border shadow */
}

.game-border-2 {
  border: #718093 solid 8px; /* Lighter border color */
  border-radius: 26px;
  box-shadow: inset 0 0 0 10px #718093; /* Light border shadow */
}

.game-border-3 {
  border: #f0f0f0 solid 30px; /* Light border color */
  border-radius: 20px;
  box-shadow: inset 0 0 0 5px #f0f0f0; /* Light border shadow */
}

#instruction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  width: 300px;
  text-align: center;
  padding: 5px;
  margin-top: 80px;
}

.scores {
  display: flex;
  justify-content: space-between;
}

#score {
  color: #fdcb6e; /* Yellow color for score */
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

#highScore {
  color: #fdcb6e; /* Yellow color for high score */
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

#game-instruction {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

.game-border-3,
#logo {
  background-color: #c4cfa3;
}

.snake {
  border: #5a5a5a 1px dotted;
}

.food {
  background-color: #dedede;
  border: #999 5px solid;
}

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  width: 150px;
  height: auto;
}

#start-button {
  background-color: #dddddd; /* Light gray color for button */
  border: none;
  color: #333; /* Dark gray color for text */
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  cursor: pointer;
}

#start-button:hover {
  background-color: #cccccc; /* Slightly darken gray color on hover */
}

@media only screen and (max-width: 600px) {
  #game-board {
    grid-template-columns: repeat(10, 30px); /* Increase column width for better visibility */
    grid-template-rows: repeat(10, 30px); /* Increase row height for better visibility */
    margin: 10px; /* Add some margin around the game board */
    position: relative; /* Set position to relative for absolute positioning of elements */
    touch-action: none;
  }

  .game-border-1,
  .game-border-2,
  .game-border-3 {
    border-width: 5px; /* Reduce border width for better visibility */
  }

  .snake {
    border-width: 1px; /* Reduce border width for better visibility */
    width: 15px; /* Reduce snake size for better fit on mobile screen */
    height: 15px;
  }

  .food {
    width: 15px; /* Reduce food size for better fit on mobile screen */
    height: 15px;
    border-width: 3px; /* Reduce border width for better visibility */
  }

  #container {
    padding: 10px; /* Adjust container padding for better spacing */
    position: relative; /* Set position to relative for absolute positioning of elements */
  }

  #logo {
    width: 130px; /* Reduce logo size for better fit on mobile screen */
    height: auto;
    margin: 0 auto; /* Center the logo horizontally */
    display: block; /* Ensure the logo is a block-level element */
  }

  #instruction-text {
    text-align: center; /* Center the instruction text */
    margin-top: 40px; /* Add some top margin */
    font-size: 14px; /* Decrease font size for better readability */
  }

  #start-button {
    display: block; /* Ensure the start button is a block-level element */
    margin: 10px auto; /* Center the start button horizontally */
    font-size: 14px; /* Decrease font size for better readability */
    padding: 8px 12px; /* Adjust padding for better button appearance */
    border-radius: 5px; /* Add border radius for rounded corners */
    background-color: #dddddd; /* Set background color */
    color: #333; /* Set text color */
    border: none; /* Remove border */
    cursor: pointer; /* Set cursor to pointer */
  }
}